<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../src/css/choose-level.css">
</head>
<body>
	<div class="wrapper">
		<div class="bg-holder">
			<a href="../" class="btn">GO BACK</a> 	
			<h1 class="title">CHOOSE A VOYAGE<h1>
			<div class="cols">
				<a href="level1.html" class="col">
					<div class="container">
						<div class="front" style="background-image: url(../src/img/choose-level/fly.jpg)">
							<div class="inner">
								<p>VOYAGE #1</p>
								<span>FLY</span>
							</div>
						</div>
						<div class="back">
							<div class="inner">
								<p>You should fly away from your planet first, of course.</p>
							</div>
						</div>
					</div>
				</a>
				<a href="level2.html" class="col">
					<div class="container">
						<div class="front" style="background-image:url(../src/img/choose-level/rocket.jpg)">
							<div class="inner">
								<p>VOYAGE #2</p>
								<span>WORMHOLE</span>
							</div>
						</div>
						<div class="back">
							<div class="inner">
								<p>Do you believe in passing through time and space?</p>
							</div>
						</div>
					</div>
				</a>	
			</div>
		</div>
	</div>
</body>
</html>